* {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: bold;
  font-weight: 600;
}

h2 {
  font-family: 'Domine', serif;
  font-weight: 400;
}

.SideButton {
  margin-top: 10px;
  margin-left: 10px;

  position: fixed;
  top: 0;
  left: 0;
}
/* 
.bridgeImg {
  width: 20vw;
  height: 200px;
} */

/* 
Header Font
font-family: 'IBM Plex Sans', sans-serif;
font-style: bold;
font-weight: 600;

SubHeader Font
font-family: 'Domine', serif;
font-style: regular;
font-weight: 400;


font-family: 'IBM Plex Sans', sans-serif;
font-style: regular;
font-weight: 400;
*/
