.container {
  display: flex;
}
.logo {
  height: 50px;
  width: 50px;
}
.Info {
  display: flex;
  flex-direction: column;
  width: 36%;
  margin-top: -4%;
} 

.logoFtr {
  width: 350px;
  height: 17vh;
  margin-bottom: 5px;
}

 .address {
   font-size: .75rem;
  color: white;
  width: 350px;
  height: 3vh;
 }

.WebsiteLinks {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
 width: 33%;
 padding-left: 7%;
 margin-top: 1%;
}

.singlePageLinks {
  color: white;
  margin: 21px;
}

.SocialLinks {
  width: 33%;
  height: 25vh;
  padding: 5px;
}

.socialText {
   color: white;
   height: 4vh;
font-size: .75rem;
margin:10px;
}

