.App {
  text-align: center;
}

.header {
  background-color: white;
  height: 14vh;
}

.sidebar {
  background-color: white;
  border: 5px solid #009149;
}

.content {
  background-color: white;
  height: 76vh;
  border: 5px solid #161345;
}

.logo {
  width: 300px;
  height: 40px;
}

.footer {
  background-color: #161345;
  height: 18vh;
  display: flex; 
}

.logoFtr {
  width: 150px;
  height: 20px;
}

.ftrWebsiteLinks {
  font-size: 14px;
  display: inline-block;
  width: 300px;
  height: 10vh;
}

.ftrSocialLinks {
  font-size: 15px;
  display: inline-block;
  width: 500px;
  margin-left: 30%;
}

.ftrInfo {
  width:500px;
  float: right;
  margin-left: 25%;
  height: 15vh
}


