.marker-btn {
  width: 15px;
  height: 20px;
}

.zoom-controls {
  margin-top: 10px;
  margin-right: 10px;
  width: 30px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
}

#ReactMapGL {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  border: 5px solid red;
}

body {
  margin: 0;
  padding: 0;
}
