.marker-btn {
  width: 15px;
  height: 20px;
}

.zoom-controls {
  /* border: 2px solid orange; */
  margin-top: 10px;
  margin-right: 10px;
  width: 2vw;
  height: 12vh;
  position: fixed;
  top: 0;
  right: 0;
}
