.searchbar input {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
  width: 200px;
  height: 40px;
}

.bridgeCard-container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 60vh;
  overflow: auto;
}

.bridgeCard {
  margin: 10px;
  padding: 10px;
  color: black;
  border: 5px solid #008a44;
  background-color: white;
  border-radius: 5px;
}

.clearboth {
  clear: both;
}
